<div id="menu">
	<ul class="main_menu">
		<li class="lsf-icon" title="group">
			<%= link_to "About Us", about_path %>
			<div class="underscore"></div>
		</li>
		<li class="lsf-icon" title="album">
			<%= link_to "Blog Post", posts_path %>
			<div class="underscore"></div>
		</li>
		<li class="lsf-icon" title="starempty">
			<%= link_to "Top Post", toppost_path %>
			<div class="underscore"></div>
		</li>
		<li class="lsf-icon" title="home">
			<%= link_to "Home", root_path %>
			<div class="underscore"></div>
		</li>
	</ul>
</div>
