<div id="menu">
	<ul class="main_menu">
		<li class="lsf-icon" title="group">
			<%= link_to "About Us", pages_about_path %>
			<div class="underscore"></div>
		</li>
		<li class="lsf-icon" title="album">
			<%= link_to "Blog Post", posts_path %>
			<div class="underscore"></div>
		</li>
		<li class="lsf-icon" title="notify">
			<%= link_to "再想想", pages_contact_path %>
			<div class="underscore"></div>
		</li>
		<li class="lsf-icon" title="home">
			<%= link_to "Home", root_path %>
			<div class="underscore"></div>
		</li>
	</ul>
</div>
