.sidebar
	#toggle-sidebar.lsf-icon.menu
	#search
		= search_form_for @q do |f| 
			= f.text_field :title_or_body_cont
			.lsf-icon.search = f.submit ' ', :class => 'btn-search'
	ul
		li
			h2 文章目錄
			ul 
			= all_categories.each do |cat| 
				li
					p
					= link_to cat.name, category_path(:id => cat.id) 
		li
			h2 近期文章
			ul
			= all_posts.limit(4).order("created_at DESC").each do |post| 
				li
					p
					= link_to post.title, post_path(:id => post.id)  
		li
			h2 LOGIN
			ul
				- if user_signed_in? 
  				p#login = current_user.user_name "登入中！"
  					li
  						p = link_to '帳號資訊', edit_user_registration_path, :class => 'navbar-link'
	  				li
	  					p = link_to '新增文章', new_post_path
	  				li
	  					p = link_to '管理後台', admin_path
	  				li
	  					p = link_to "登出", destroy_user_session_path, method: :delete, :class => 'navbar-link'
				- else 
						li
							p = link_to "加入會員", new_user_registration_path, :class => 'navbar-link'
						li
							p = link_to "會員登入", new_user_session_path, :class => 'navbar-link'
