<div class="post-user">
	<% @users.each do |user| %>
		<div class="user">
      <div class="user-gravatar">
        <%= image_tag user.gravatar_url %><br>
        <p><%= user.user_name %></p>
      </div>
      <div class="blogpost">
        <%= link_to 'All Posts', user_path(user) %>
      </div>
    </div>
	<% end %>
</div>
