<div class="setting">管理後台</div>
<br>
<div class="post">
	<h3 class="category">Posts</h3>
	<%= link_to 'New Post', new_post_path, :class =>"note lsf-icon", :title => "add" %>
	<% @user_posts.each do |post| %>
		<ul>
			<li>
				<%= link_to '', post_path(post), method: :delete, data: { confirm: "確定刪除「#{post.title}」嗎？" }, :class => "lsf-icon", :title => "remove" %>
				<%= link_to "", edit_post_path(post), :class => "lsf-icon", :title => "edit" %>
				&hellip;<%= link_to post.title, post %>
			</li>
		</ul>
	<% end %>
</div>

<% if current_user.admin? %>

<div class="post">
	<h3 class="category">Categories</h3>
	<%= link_to 'New Category', new_category_path, :class =>"note lsf-icon", :title => "add" %>
	<% all_categories.each do |cat| %>
		<ul>
			<li>
				<%= link_to '', cat, method: :delete, data: { confirm: "確定刪除「#{cat.name}」嗎？"}, :class => "lsf-icon", :title => "remove" %>
				<%= link_to "", edit_category_path(cat),  :class => "lsf-icon", :title => "edit" %>
				&hellip;<%= cat.name %>
			</li>
		</ul>
	<% end %>
</div>

<div class="post">
	<h3 class="category">Users</h3>
	<% User.all.each do |user| %>
	<ul>
		<% if user.admin == true %>
			<li>
				<span class="lsf-icon" title="star" style="color: #ff0000"><%= user.user_name %> | <%= user.email %></span>
			</li>
		<% else %>
			<li>
				<%= link_to '', admin_user_path(user),method: :delete, data: { confirm: "確定刪除「#{user.user_name}」嗎？" }, :class => "lsf-icon edit", :title => "remove" %>
				&hellip;<%= user.user_name %> | <%= user.email %>

			</li>
		<% end %>
	</ul>
	<% end %>
</div>

<% end %>