<div class="post">
	<h2 class="title">Contact</h1>
	<p class="lsf-icon" title="github">Github: <%= link_to 'find me', "https://github.com/OtiAnn/" %></p>
	<p class="lsf-icon" title="facebook">Facebook: <%= link_to 'find me', "http://www.facebook.com/AnnieChen5/" %></p>
  <p class="lsf-icon" title="blogger">Blogger: <%= link_to 'find me', "http://anniebh.blogspot.tw/" %></p>
</div>