/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.clearfix:after{
	content:"";
	display:block;
	clear:both;
}
/*form*/
textarea{
	width: 100%;
	height: 120px;
	font-size: 16px;
}
input{
	height: 20px;
	width: 100%;
	font-size: 16px;
}
select{
	height: 20px;
	font-size: 16px;
}
.submit{
	padding-left: 85%;
}

.alert{
	color: rgba(253, 235, 162, 0.9);
  font-size: 20px;
}

/*body*/
body{
	margin:0;
	padding:0;
	height:100%;
	background-image: url("bg.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}
#wrapper{
	min-height:100%;
	position: relative;
	padding-bottom: 80px;
}
/*header*/
.header{
	height: 180px;
}
	/*logo*/
		#logo{
			margin: 0 auto;
		}
		#logo h1{
			letter-spacing: -2px;
			text-transform: uppercase;
			font-family: 'Abel', sans-serif;
			font-size: 3.8em;
			font-weight: bold;
			color: #063263;
			margin-top: 0;

		}
		#logo a{
			color: #063263;
			text-decoration: none;
			display: inline-block;
			width: 100%;
			text-align: center;
			letter-spacing: 30px;
		}
		#logo p{
			color: #847F7E;
			font-family: fantasy;
			font-size: 24px;
			word-spacing: 10px;
			letter-spacing: 4px;
			text-align: center;
			margin-top: 40px;
			padding-right: 35px;
		}
	/*menu*/
		#menu{
			width: 880px;
			margin: 0 auto;
			position: relative;
			top: -55px;
		}
		#menu ul{
			list-style: none;
		}
		#menu li{
			position:relative;
			float: left;
			margin: 0 5%;
			padding-top: 50px;
		}
		#menu a{
			color: #063263;
			text-decoration: none;
			font: normal 20px sans-serif;
		}
		#menu .underscore{
			position: absolute;
			width: 0%;
			left:50%;
			margin-left: 0%;
			height: 4px;
			background-color: #063263;
			opacity: 0.5;
			-webkit-transition: all 0.3s;
					transition: all 0.3s;
		}
		#menu li:hover>.underscore{
			width: 100%;
			margin-left: -50%;
			opacity: 1;
		}
		/*#menu a:hover:after {
		content: " ";
		display: block;
		border: 8px solid;
		border-bottom: 0;
		border-left: 0;
		border-right: 0;
		}*/

/*footer*/
.footer{
	height: 40px;
	width:100%;
	text-align: center;
	font-family: monospace, Courier, "Courier New";
	position:absolute;
	bottom: 0;
	color: rgba(255,255,255,0.7);
}

/*gavatar*/

.user-gravatar {
    display: inline-block;
    width: 100px;
    position: relative;
    margin: 0;
}

.user-gravatar img {
  position: absolute;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	top: -50px;
	margin: 20px;
}

.aboutus {
	padding: 0;
	text-align: center;
}

.aboutus .user-name {
	position: relative;
	top: 80px;
	left: 70%;
}