.clearfix:after{
	content:"";
	display:block;
	clear:both;
}
/*form*/
textarea{
	width: 100%;
	height: 120px;
	font-size: 16px;
}
input{
	height: 20px;
	width: 100%;
	font-size: 16px;
}
select{
	height: 20px;
	font-size: 16px;	
}
.submit{
	padding-left: 85%;
}

/*body*/
body{
	margin:0;
	padding:0;
	height:100%;
	background-image: url("bg.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}
#wrapper{
	min-height:100%;
	position: relative;
	padding-bottom: 80px;
}
/*header*/
.header{
	height: 180px;
}
	/*logo*/
		#logo{
			margin: 0 auto;
		}
		#logo h1{
			letter-spacing: -2px;
			text-transform: uppercase;
			font-family: 'Abel', sans-serif;
			font-size: 3.8em;
			font-weight: bold;
			color: #063263;
			margin-top: 0;
			
		}
		#logo a{
			color: #063263;
			text-decoration: none;
			display: inline-block;
			width: 100%;
			text-align: center;
			letter-spacing: 30px;
		}
		#logo p{
			color: #847F7E;
			font-family: fantasy;
			font-size: 24px;
			word-spacing: 10px;
			letter-spacing: 4px;
			text-align: center;
			margin-top: 40px;
			padding-right: 35px;
		}
	/*menu*/
		#menu{
			width: 880px;
			margin: 0 auto;
			position: relative;
			top: -55px;
		}
		#menu ul{
			list-style: none;
		}
		#menu li{
			position:relative;
			float: left;
			margin: 0 5%;
			padding-top: 50px;
		}
		#menu a{
			color: #063263;
			text-decoration: none;
			font: normal 20px sans-serif;
		}
		#menu .underscore{
			position: absolute;
			width: 0%;
			left:50%;
			margin-left: 0%;
			height: 4px;
			background-color: #063263;
			opacity: 0.5;
			-webkit-transition: all 0.3s;
					transition: all 0.3s;
		}
		#menu li:hover>.underscore{
			width: 100%;
			margin-left: -50%;
			opacity: 1;
		}
		/*#menu a:hover:after {
		content: " ";
		display: block;
		border: 8px solid;
		border-bottom: 0;
		border-left: 0;
		border-right: 0;
		}*/

/*sidebar*/
.sidebar {
	position: fixed;
	top: 0;
	right: -268px;
	-webkit-transition: all 0.3s ease-out;
}

.js-slide-left{
	right: 0;
}

	.lsf-icon.search {
		background-color: rgba(255, 255, 255, 0.29);
		padding: 2px;
	}

	.sidebar ul {
		margin: 0;
		margin-top: 40px;
		padding: 0;
		list-style: none;
	}

	.sidebar li {
		margin: 0;
		padding: 0;
	}

	.sidebar li ul {
		margin: 0;
		padding-bottom: 30px;
		list-style: none;
	}

	.sidebar li li {
		margin: 0px 20px 0px 20px;
		text-align: left;
	}

	.sidebar li li a {
		padding: 0px 0px 0px 15px;
	}

	.sidebar h2 {
		position: relative;
		margin: 0px 20px 20px 10px;
		padding: 4px 0px;
		padding-left: 40px;
		font-size: 27px;
		color: rgba(255, 255, 255, 0.6);
		text-shadow: 0.5px 0.5px 1px rgba(119, 116, 116, 0.5);
	}
	.sidebar h2:before {
		content: " ";
		display: block;
		position: absolute;
		left: 0;
		border: 13px solid transparent;
		border-top: 18px solid rgba(255, 255, 255, 0.5);
		height: 0;
		width: 0;
	}
	.sidebar p {
		margin: 0;
		padding: 0px 20px 20px 20px;
		color: #847F7E;
	}

	.sidebar a {
		text-decoration: none;
		color: #847F7E;
	}
	.sidebar a:before {
		content: "";
		margin-right: 5px;
		border: 4px solid rgba(255, 255, 255, 0.5);
	}
	.sidebar a:hover {
		text-decoration: none;
		color: rgba(253, 235, 162, 0.9);

	}
	.sidebar a:hover:before {
		content: "";
		border: 4px solid rgba(253, 235, 162, 0.9);
		margin-right: 5px;
	}
	
/*content*/
.content{
	position: relative;
	max-width: 750px;
	min-height: 700px;
	padding: 0 0 40px 0;
	margin: 0 auto;
	margin-top: 100px;
}
	/*post*/
	.post{
		border: 1px solid #BEBEBE;
		border-radius: 5px;
		padding: 20px;
		padding-bottom: 52px;
		margin-bottom: 60px;
		min-height: 200px;
		background-color: rgba(255,255,255,0.7);
	}
	.post .title {
		height: 30px;
		padding: 0;
		padding-left: 30px;
		letter-spacing: 1px;
		font-family: 'Abel', sans-serif;
	}

	.post .title a {
		text-decoration: none;
		color: #202020;
	}
	.post ul {
		float: left;
		list-style: none;
	}
	.post .note {
		text-align: right;
		margin-bottom: -20px;
		margin-top: -20px;
		margin-right: 34px;
		letter-spacing: 2px;
	}
	.post p {
		padding: 20px 30px 30px 30px;
		line-height: 2;
		letter-spacing: 1px;
		font-family: Arial, Helvetica, sans-serif;
		text-align: justify;
	}

	.post a {
		text-decoration: none;
		color: #202020;
	}
	.post a:hover{
		text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
	}
	
	/*comment*/
	.comment{
		border: 1px solid rgba(62, 143, 168, 0.50);
		border-radius: 2px;
		padding: 5px 25px;
		margin-top: 30px;
		background-color: rgba(52, 155, 203, 0.5);
		font-family: monospace, Courier, "Courier New";
		font-size: 16px;
	}

	.comment .title {
		letter-spacing: 8px;
		height: 30px;
		color: #fff;
	}

	.comment #user_name {
		letter-spacing: 5px;
		padding-left: 15px;
		color: #fff;
		text-shadow: 1px 1px 3px rgba(0, 122, 255, 0.5);
	}

	.comment p {
		padding: 0 35px;
		color: #C1F2F6;
		letter-spacing: 2px;
	}

/*footer*/
.footer{
	height: 80px;
	width:100%;
	text-align: center;
	font-family: monospace, Courier, "Courier New";
	position:absolute;
	bottom: 0;
	color: rgba(255,255,255,0.7);
}

/* LigatureSymbols CSS */

@font-face {
    font-family: 'LigatureSymbols';
    src: url('LigatureSymbols-2.11.eot');
    src: url('LigatureSymbols-2.11.eot?#iefix') format('embedded-opentype'),
         url('LigatureSymbols-2.11.woff') format('woff'),
         url('LigatureSymbols-2.11.ttf') format('truetype'),
         url('LigatureSymbols-2.11.svg#LigatureSymbols') format('svg');
    src: url('LigatureSymbols-2.11.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.lsf, .lsf-icon:before {
  font-family: 'LigatureSymbols';
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  -o-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.lsf-icon:before {
  content:attr(title);
  margin-right:0.3em;
  font-size:190%;
}
.lsf-icon.about:before {
  color: #063263;
  content: '\E05c';
}
.lsf-icon.blogpost:before {
  content: '\E002';
  color: #063263;
}
.lsf-icon.home:before {
  content: '\E072';
  color: #063263;
}

.lsf-icon.contact:before {
  content: '\E097';
  color: #063263;
}

.lsf-icon.comments:before {
  content: '\E035';
  font-size: 140%;
}

.lsf-icon.readmore:before {
  content: '\E020';
  font-size: 140%;
}

.lsf-icon.search:before {
	content: '\E116';
	font-size: 200%;
	background-color: rgba(0, 0, 0, 0.64);
	color: #fff;
	padding: 5px 10px;
	margin-left: -40px;
}


/*gavatar*/

.user-gravatar {
    display: inline-block;
    width: 100px;
    position: relative;
    margin: 0;
}

.user-gravatar img {
    position: absolute;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	top: -50px;
	margin: 20px;
}

.aboutus {
	padding: 16px;
	text-align: center;
}

.aboutus .user-name {
	position: relative;
	top: 80px;
	left: 70%;
}