.clearfix:after{
	content:"";
	display:block;
	clear:both;
}
/*form*/
textarea{
	width: 562px;
	height: 120px;
}
input{
	width: 200px;
	height: 20px;
}
.submit{
	
}

/*body*/
body{
	margin:0;
	padding:0;
	height:100%;

}
#wrapper{
	min-height:100%;
	position: relative;
	padding-bottom: 80px;
}
/*header*/
.header{
	height: 200px;
	margin-top: 10px;
	margin-right: 10px;
	margin-left: 10px;
}
	/*logo*/
		#logo{
			width: 200px;
			padding: 15px;
			margin-left: 2%;
			float: left;
		}
		#logo h1{
			margin-left: -2px;
			padding: 0;
			letter-spacing: -2px;
			text-transform: uppercase;
			font-family: 'Abel', sans-serif;
			font-size: 3.8em;
			font-weight: bold;
			color: #349ACA;
			
		}
		#logo a{
			color: #349ACA;
			text-decoration: none;
		}
		#logo p{
			margin: 0;
			padding: 0px 0 0 78px;
			font: normal 14px;
			color: #847F7E;
		}
	/*menu*/
		#menu{
			float: right;
			margin-right: 10%;
			margin-top: 30px;
			width: 600px;
		}
		#menu ul{
			list-style: none;
		}
		#menu li{
			float: left;
			padding-right: 50px;
			padding-top: 50px;
		}
		#menu a{
			color: #2F7ED5;
			text-decoration: none;
			font: normal 20px sans-serif;
		}
		#menu a:hover:after {
		content: " ";
		display: block;
		border: 8px solid;
		border-bottom: 0;
		border-left: 0;
		border-right: 0;
		}

/*sidebar*/
.sidebar {
	float: left;
	width: 300px;
	height: 100%;
	margin-left: 60px;
	padding: 20px 20px 0px 0px;
}

	.sidebar ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	.sidebar li {
		margin: 0;
		padding: 0;
	}

	.sidebar li ul {
		margin: 0;
		padding-bottom: 30px;
		list-style: none;
	}

	.sidebar li li {
		margin: 0px 20px 0px 20px;
		text-align: left;
	}

	.sidebar li li a {
		padding: 0px 0px 0px 15px;
	}

	.sidebar h2 {
		margin: 0px 20px 20px 10px;
		padding: 4px 0px;
		font-size: 2em;
		color: #2963CA;
	}
	.sidebar h2:before {
		content: " ";
		display: inline-flex;
		border: 20px solid transparent;
		border-top: 34px solid #2963ca;
		height: 0;
		width: 0;
	}
	.sidebar p {
		margin: 0;
		padding: 0px 20px 20px 20px;
		color: #847F7E;
	}

	.sidebar a {
		text-decoration: none;
		color: #847F7E;
	}
	.sidebar a:before {
		content: "";
		border: 4px solid #A7E6E9;
		margin-right: 5px;
	}
	.sidebar a:hover {
		text-decoration: underline;
		color: #000000;

	}
	.sidebar a:hover:before {
		content: "";
		border: 4px solid #2963CA;
		margin-right: 5px;
	}
	
/*content*/
.content{
	float: right;
	width: 650px;
	padding: 20px 0px 40px 0px;
	margin-right: 10%;
}
	/*post*/
	.post{
		border: 5px solid #349ACA;
		border-radius: 1em;
		padding: 20px;
		margin-bottom: 20px;
		background-color: rgba(107, 227, 255, 0.23);
	}
	.post .title {
		height: 30px;
		padding: 0;
		letter-spacing: 1px;
		font-family: 'Abel', sans-serif;
	}

	.post .title a {
		text-decoration: none;
		color: #202020;
	}

	.post .note {
		text-align: right;
		margin-bottom: -20px;
		margin-top: -20px;
	}

	.post p {
		padding: 20px 30px 30px 30px;
		padding-bottom: 30px;
		letter-spacing: 1px;
		font-family: Arial, Helvetica, sans-serif;
	}

	.post a {
		text-decoration: none;
		color: #202020;
	}
	.post a:hover{
		text-shadow: 2px 2px 5px rgba(0,0,0,0.2);
	}
	
	/*comment*/
	.comment{
		border: 1px dashed #349ACA;
		border-radius: 1.5em;
		padding: 5px 25px;
		margin-top: 30px;
	}

	.comment .title {
		letter-spacing: 2px;
		height: 30px;
	}

	.comment #user_name {
		letter-spacing: 5px;
		padding-left: 15px;
	}

	.comment p {
		padding: 0 35px;
		color: #2963ca;
	}

/*footer*/
.footer{
	height: 80px;
	width:100%;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	position:absolute;
	bottom: 0;
}