/*sidebar*/
.sidebar {
  position: fixed;
  top: 0;
  right: -260px;
  -webkit-transition: all 0.3s ease-out;
}
#q_title_or_body_cont{
  width: 275px;
  height: 40px;
  background-color: #eee;
  border: 0;
  position: relative;
  top: -43px;
  left: 18px;
  outline: none;
}
.btn-search {
  width: 45px;
  height: 45px;
  background-color: rgba(255, 255, 255, 0);
  border: 0;
  cursor: pointer;
  position: relative;
  top: -90px;
  left: 160px;
}

.js-slide-left{
  right: 0;
}

  .sidebar ul {
    margin-left: -10px;
    margin-top: -80px;
    padding: 0;
    list-style: none;
  }

  .sidebar li {
    margin: 0;
    padding: 0;
  }

  .sidebar li ul {
    margin: 0;
    padding-bottom: 30px;
    list-style: none;
  }

  .sidebar li li {
    margin: -5px 20px;
    text-align: left;
  }

  .sidebar li li a {
    padding: 0px 0px 0px 15px;
  }

  .sidebar h2 {
    position: relative;
    padding-left: 60px;
    font-size: 24px;
    color: #aaa;
  }
  .sidebar h2:before {
    content: " ";
    display: block;
    position: absolute;
    left: 30px;
    border: 13px solid transparent;
    border-top: 18px solid rgba(255, 255, 255, 0.5);
    height: 0;
    width: 0;
  }
  .sidebar p {
    margin: 0;
    padding: 0px 20px 20px 20px;
    color: #847F7E;
    width: 200px;
  }

  .sidebar #login {
    color: #000;
    padding-left: 20%;
    font-size: 20px;
    /*text-shadow: 0 0 10px #ff0;*/
  }

  .sidebar a {
    text-decoration: none;
    color: #847F7E;
  }
  .sidebar a:before {
    content: "";
    margin-right: 5px;
    border: 4px solid #aaa;
  }
  .sidebar a:hover {
    text-decoration: none;
    color: #000;

  }
  .sidebar a:hover:before {
    content: "";
    border: 4px solid #000;
    margin-right: 5px;
  }
